/* NAVBAR CSS */

.bufferbar {
  position: static;
  width: 1280px;
  height: 34px;
  flex-shrink: 0;
  background: #000b31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navbar {
  position: static;
  width: 1280px;
  height: 62px;
  flex-shrink: 0;
  background: #021f86;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.brandlogo img {
  width: 68px;
  height: 64px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin-right: 1rem;
}

.navbarbuttons {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

.navbarbutton {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.625rem;
  height: 3rem;
  border-radius: 1.2rem;
}

.navbarbuttontext {
  color: #eb983a;
  font-family: "anton", Helvetica;
  font-size: 36px;
  font-weight: 700;
  -webkit-text-stroke: 1x #000000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.garylogo {
  position: relative;
  width: 648px;
  height: 76px;
}

.garylogo .text-wrapper {
  width: 648px;
  height: 76px;
  top: 20px;
  left: 20px;
  -webkit-text-stroke: 0.5px #000000;
  font-family: "Monoton", Helvetica;
  font-weight: 400;
  color: #eb983a;
  font-size: 48px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
}

.garylogo .text-wrapper:hover {
  width: 648px;
  height: 76px;
  top: 20px;
  left: 20px;
  -webkit-text-stroke: 0.4px #000000;
  font-family: "Monoton", Helvetica;
  font-weight: 400;
  color: #ff0000;
  font-size: 48px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
}

.navbarbutton:hover {
  background: #a92c2c;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.navbarbuttontext:hover {
  color: #002bc7;
  font-family: "anton", Helvetica;
  font-size: 36px;
  font-weight: 700;
  -webkit-text-stroke: 1x #000000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

/* HERO SECTION CSS */

body,
html {
  margin: 0;
  padding: 0;
  font-family: "anton", Helvetica;
}

.carousel {
  width: 1280px;
  margin: 0 center;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* FOOTER MENU CSS */

.footerbar {
  position: static;
  width: 1280px;
  height: 98px;
  flex-shrink: 0;
  background: #000b31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.footerbuttons {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

.footerbutton {
  margin-left: 50px;
  width: 120px;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  height: auto;
}

.menulogo img {
  width: 104px;
  height: 98px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin-right: 1rem;
}

.fried-chicken-wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 75%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu8-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.chicken-finger-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu5-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.chicken-burger-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu6-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.chicken-nuggets-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu4-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.sides-wrapper {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 80%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu2-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.gary-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 78px;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu3-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.footerbuttontext {
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 18px;
  -webkit-text-stroke: 2x #000000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.footerbuttontext:hover {
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 28px;
  -webkit-text-stroke: 4x #000000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}
