/*
Description: HTML for Gary Blue's Diner
Created By: Steven Norris
Date Prototype Was Completed: 06-22-2024
Date Created: 06-23-2024
Date Finished: TBA





     
,,::::|!!!!!!!!!!!!!!!!!!!!!|::::,,
-:::::|  MAIN LANDING PAGE  |::::::-
''::::|iiiiiiiiiiiiiiiiiiiii|::::''
         \\[_[]_[]_[]_[]_|]  



/* NAVBAR CSS */

.bufferbar {
  position: static;
  width: 1280px;
  height: 34px;
  flex-shrink: 0;
  background: #000b31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navbar {
  position: static;
  width: 1280px;
  height: 62px;
  flex-shrink: 0;
  background: #021f86;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-top: #000000;
  border: 2px solid black;
}

.brandlogo img {
  width: 64px;
  height: 62px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin-right: 1rem;
}

.navbarbuttons {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

.navbarbutton {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.625rem;
  height: 3rem;
  border-radius: 1.2rem;
}

.navbarbuttontext {
  color: #eb983a;
  font-family: "anton", Helvetica;
  font-size: 36px;
  font-weight: 700;
  -webkit-text-stroke: 1x #000000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.navbarbuttontextorder {
  color: #eb983a;
  font-family: "anton", Helvetica;
  font-size: 36px;
  font-weight: 700;
  -webkit-text-stroke: 1x #000000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.garylogo {
  position: relative;
  width: 648px;
  height: 76px;
}

.garylogo .text-wrapper {
  width: 648px;
  height: 76px;
  top: 20px;
  left: 20px;
  -webkit-text-stroke: 0.5px #000000;
  font-family: "Monoton", Helvetica;
  font-weight: 400;
  color: #eb983a;
  font-size: 48px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
}

.garylogo .text-wrapper:hover {
  width: 648px;
  height: 76px;
  top: 20px;
  left: 20px;
  -webkit-text-stroke: 0.4px #000000;
  font-family: "Monoton", Helvetica;
  font-weight: 400;
  color: #ff0000;
  font-size: 48px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
}

.navbarbutton:hover {
  background: #a92c2c;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.navbarbuttontext:hover {
  color: #002bc7;
  font-family: "anton", Helvetica;
  font-size: 36px;
  font-weight: 700;
  -webkit-text-stroke: 1x #000000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

/* HERO SECTION CSS */

body,
html {
  margin: 0;
  padding: 0;
  font-family: "anton", Helvetica;
}

.carousel {
  width: 1280px;
  margin: 0 center;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* FOOTER MENU CSS */

.footerbar {
  position: static;
  width: 1280px;
  height: 98px;
  flex-shrink: 0;
  background: #000b31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border: 1px solid black;
}

.footerbuttons {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

.footerbutton {
  margin-left: 50px;
  width: 120px;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  height: auto;
}

.menulogo img {
  width: 104px;
  height: 98px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin-right: 1rem;
}

.fried-chicken-wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 75%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu8-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.chicken-finger-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu5-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.chicken-burger-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu6-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.chicken-nuggets-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu4-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.sides-wrapper {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 80%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu2-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.gary-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 78px;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu3-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.footerbuttontext {
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 18px;
  -webkit-text-stroke: 2x #000000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.footerbuttontext:hover {
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 28px;
  -webkit-text-stroke: 4x #000000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

/*
     
,,::::|!!!!!!!!!!!!!!!!!!!!!|::::,,
-:::::|      MENU PAGE      |::::::-
''::::|iiiiiiiiiiiiiiiiiiiii|::::''
         \\[_[]_[]_[]_[]_|]
          
*/

.menubufferbar {
  position: static;
  width: 1280px;
  height: 17px;
  flex-shrink: 0;
  background: #670101;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid black;
}

.menubody {
  width: 1280px;
  height: 680px;
  background-color: #670101;
  border: 3px solid black;
}

.menucontainer {
  margin-top: 30px;
  width: 1223px;
  height: 620px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/Menu/BaseMenu2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  position: relative;
}

#friedchicken {
  display: none;
  padding: 4px;
}

#friedchicken.active {
  display: block;
  padding: 4px;
}

#chickenfingers {
  display: none;
  padding: 4px;
}

#chickenfingers.active {
  display: block;
  padding: 4px;
}

#chickenburgers {
  display: none;
  padding: 4px;
}

#chickenburgers.active {
  display: block;
  padding: 4px;
}

#chickennuggets {
  display: none;
  padding: 4px;
}

#chickennuggets.active {
  display: block;
  padding: 4px;
}

#sides {
  display: none;
  padding: 4px;
}

#sides.active {
  display: block;
  padding: 4px;
}

#garydeals {
  display: none;
  padding: 4px;
}

#garydeals.active {
  display: block;
  padding: 4px;
}

section {
  display: none;
}

section.active {
  display: block;
}

.bigmenu-item img {
  display: block;
  width: 685px;
  height: 575px;
  margin-top: 14px;
  margin-left: 16px;
  margin-right: 522px;
  margin-bottom: 21px;
}

.menuitemboxcontainer {
  width: 465px;
  height: 513px;
  top: 6px;
  border-radius: 7px;
  position: absolute;
  margin-left: 701px;
  margin-top: 66px;
}

.menuitembox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 465px;
  height: 88px;
  padding: 4px;
  background-color: #000a30;
  border-radius: 7px;
  margin-top: 12px;
  margin-bottom: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.menuitem {
  width: 176px;
  height: 76px;
}

.menuitem img {
  width: 136px;
  height: 76px;
  margin-left: 16px;
  margin-top: 4px;
}

.menutext {
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 10px;
  -webkit-text-stroke: 2x #000000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  letter-spacing: 2;
}

.menuprice {
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 28px;
  -webkit-text-stroke: 2x #000000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  margin-top: 8px;
  margin-left: 14px;
}

.menuprice2 {
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 14px;
  -webkit-text-stroke: 2x #000000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  margin-top: 8px;
  margin-left: 14px;
}

.menutitle {
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 32px;
  -webkit-text-stroke: 2x #000000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  margin-bottom: 4px;
}

.menutextwrapper {
  width: 100px;
  height: 70px;
  top: 7px;
  left: 152;
  margin-top: 8px;
  margin-right: 4px;
}

.menutextwrapper2 {
  width: 180px;
  height: 70px;
  top: 7px;
  left: 152;
  margin-top: 4px;
  margin-right: 4px;
}

.addbutton {
  display: flex;
  width: 127px;
  height: 36px;
  padding: 1px 13.636px 6.5px 14px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  border: 2px solid #eb983a;
  background: #021f86;
}

.addbuttontext {
  margin-top: 6px;
  color: #eb983a;
  text-align: center;
  -webkit-text-stroke-width: 2;
  -webkit-text-stroke-color: #000;
  font-family: Anton;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.addbutton:hover {
  display: flex;
  width: 127px;
  height: 36px;
  padding: 1px 13.636px 6.5px 14px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  border: 2px solid #eb983a;
  background: #670101;
}

/*
     
,,::::|!!!!!!!!!!!!!!!!!!!!!|::::,,
-:::::|     ORDER PAGE      |::::::-
''::::|iiiiiiiiiiiiiiiiiiiii|::::''
         \\[_[]_[]_[]_[]_|]
          
*/

.bufferbarorder {
  position: static;
  width: 1280px;
  height: 17px;
  flex-shrink: 0;
  background: #fe8700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid black;
}

.orderbody {
  background-color: #fe8700;
}

.orderbody2 {
  width: 100%;
  height: 100vh;
  background-color: #fe8700;
}

.ordertypebox {
  padding: 20px;
  padding-top: 14px;
  width: 322px;
  height: 12px;
  flex-direction: row;
  justify-content: space-between;
}

.ordercontainer {
  width: 378px;
  height: 62px;

  flex-shrink: 0;
  border-radius: 11px;
  border: 2px solid #000;
  background: rgba(217, 217, 217, 0.92);
}

.orderbuttoncontainer {
  display: flex;
  width: 380px;
  height: 63px;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1px solid #000;
  background: rgba(217, 217, 217, 0.92);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.541);
  padding-top: 1px;
}

.ordercontainer {
  width: 384px;
  height: 2190px;
  flex-shrink: 0;
  border-radius: 11px;
  border: 2px solid #000;
  background: rgba(217, 217, 217, 0.92);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}

.orderbox {
  margin-top: 12px;
  width: 337px;
  height: 2050px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fffefe;
  border: 0.5px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.ordertypebutton {
  position: relative;
  width: 122px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #021f86;
  margin-left: 2px;
  border: 3px solid #000;
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ordertypebutton.clicked {
  background: #a92c2c;
}

.orderbuttontext {
  width: 87px;
  height: 32px;
  flex-shrink: 0;
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 18px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  text-align: center;
  font-family: Anton;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 8px;
}

.ordermenulabel {
  flex: 1;
  padding: 20px;
  display: flex;
  padding-top: 14px;
  flex-direction: column;
  justify-content: space-between;
}

.ordermenulabel img {
  max-width: 100%;
  height: auto;
  max-height: 100px; /* Set a max height for the SVGs */
  object-fit: contain;
}

.orderfullbody {
  width: 1280px;
  height: 4280px;
  background-color: #fe8700;
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.orderfullcontainer {
  margin-top: 30px;
  width: 1223px;
  height: 1280px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  position: relative;
}

.orderleft {
  width: 685px;
  height: 575px;
  margin-top: 14px;
  margin-left: 16px;
  display: flex;
  margin-bottom: 21px;
}

.orderright {
  display: flex;
  width: 465px;
  height: 513px;
  top: 6px;
  border-radius: 7px;
}
