/*

 __________________________________________
/ /***************************************\ \                                       
| |Description: HTML for Gary Blue's Diner | |
| |Created By: Steven Norris               | |
| |Date Prototype Was Completed: 06-22-2024| |
| |Date Created: 06-23-2024                | |
| |Date Finished: 12:23AM  06-29-2024      | |
\_\_______________________________________/_/  
                \\('-' )//
                  ||==||
                  ||==|| 
                  / /\ \ 
   
                     
(Blimp/Airship as a divider of content in my css) 
     
,,,::::|!!!!!!!!!!!!!!!!!!!!!|::::,,
 -:::::|  MAIN LANDING PAGE  |::::::---
'''::::|iiiiiiiiiiiiiiiiiiiii|::::''
         \\[_[]_[]_[]_[]_|]  



/* Scrollbar width */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #000b31; /* Background color of the scrollbar track */
  border-radius: 10px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #021f86; /* Color of the scrollbar thumb */
  border-radius: 10px;
  border: 3px solid #000b31; /* Space around the thumb */
}

/* Scrollbar thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #a92c2c; /* Change color when hovering */
}

/* NAVBAR */

.bufferbar {
  width: 100%;
  height: 34px;
  background: #000b31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navbar {
  width: 100%;
  height: 80px;
  background: #021f86;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-top: 2px solid #000;
}

.navbar-inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0 10px;
}

.brandlogo img {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.garylogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 10px;
}

.garylogo .text-wrapper {
  font-family: "Monoton", Helvetica;
  font-weight: 400;
  color: #eb983a;
  font-size: 3.4rem;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  -webkit-text-stroke: 0.5px #000;
  transition: color 0.3s;
  margin: 0;
}

.garylogo .text-wrapper:hover {
  color: #ff0000;
}

.navbarbuttons {
  display: flex;
  gap: 0.5rem;
  margin: 0 10px;
}

.navbarbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  background: #021f86;
  transition: background 0.3s, box-shadow 0.3s;
}

.navbarbuttontext {
  color: #eb983a;
  font-family: "anton", Helvetica;
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-text-stroke: 1px #000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.navbarbuttontextorder {
  color: #eb983a;
  font-family: "anton", Helvetica;
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-text-stroke: 1px #000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.navbarbutton:hover {
  background: #a92c2c;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.navbarbuttontext:hover {
  color: #002bc7;
}

/* HERO SECTION CAROUSEL */

body,
html {
  margin: 0;
  padding: 0;
  font-family: "anton", Helvetica;
  overflow-x: auto;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* FOOTER MENU*/

.footerbar {
  width: 100%;
  height: 98px;
  background: #000b31;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5rem;
  padding-left: 5rem;
  border: 1px solid black;
  gap: 10rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.footerbuttons {
  display: flex;
  gap: 1.4rem;
  justify-content: center;
  align-items: center;
}

.footerbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 82px;
  border-radius: 1.2rem;
}

.menulogo img {
  width: 104px;
  height: 98px;
  border: 1px solid #000;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fried-chicken-wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 75%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu8-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.chicken-finger-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu5-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.chicken-burger-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu6-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.chicken-nuggets-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu4-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.sides-wrapper {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 80%;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu2-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.gary-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 78px;
  top: 0;
  left: 359px;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/menu3-1.png);
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 1.4rem;
}

.footerbuttontext {
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 4px;
  -webkit-text-stroke: 2px #110f0f;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.footerbuttontext:hover {
  color: #eb0000;
  font-family: "anton", Helvetica;
}

/* Media Queries for Font Sizes */
@media (max-width: 1037px) {
  .navbar,
  .footerbar {
    overflow-x: auto;
  }
}

@media (max-width: 600px) {
  .navbarbuttontext,
  .garylogo .text-wrapper,
  .footerbuttontext,
  .navbarbuttontextorder {
    font-size: 1.5rem;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .navbarbuttontext,
  .navbarbuttontextorder,
  .garylogo .text-wrapper {
    font-size: 2.5rem;
  }

  .footerbuttontext {
    font-size: 1.5rem;
  }
}

@media (min-width: 1201px) {
  .navbarbuttontextorder,
  .navbarbuttontext,
  .garylogo .text-wrapper,
  .footerbuttontext {
    font-size: 4em;
  }

  .footerbuttontext {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
}

/*

,,::::|!!!!!!!!!!!!!!!!!!!!!|::::,,
-:::::|      MENU PAGE      |::::::-
''::::|iiiiiiiiiiiiiiiiiiiii|::::''
         \\[_[]_[]_[]_[]_|]
          
*/

/* MENU PAGE */

.menubufferbar {
  width: 100%;
  height: 34px;
  background: #fe8700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.menubody {
  width: 100%;
  height: 100vh;
  background-color: #670101;
  border: 3px solid black;
}

.menucontainer {
  margin-top: 30px;
  width: 100%;
  height: auto;
  background-image: url(/Steven_Norris_Sprint/Steven_Norris_Sprint1/img/Menu/BaseMenu2.png); /* Regret using an image, as scaling was off. next time ill just create a normal container in css */
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Adjustments for responsive design */
@media (max-width: 1037px) {
  .menubufferbar,
  .menubody,
  .menucontainer {
    overflow-x: auto;
  }
}

@media (max-width: 600px) {
  .menubufferbar,
  .menubody,
  .menucontainer {
    padding: 0.5rem;
  }
}

/* Menu */

.bigmenu-item {
  display: block;
  width: 64%;
  max-width: 1440px;
  padding-right: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
}

.bigmenu-item img {
  display: block;
  width: 100%;
  height: auto;
}

.menuitemboxcontainer {
  width: 100%;
  max-width: 465px;
  height: auto;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-left: 1.5rem;
}

/*Menu Box with item and price*/
.menuitembox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  min-width: 465px;
  padding: 4px;
  background-color: #000a30;
  border-radius: 7px;
  margin-top: 12px;
  margin-bottom: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.menuitem img {
  width: 100%;
  height: auto;
  margin-right: 1rem;
  margin-top: 1rem;
}

.menutext {
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 1rem;
  -webkit-text-stroke: 1px #000000; /* Adjusted stroke width */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Reduced shadow for better readability */
  letter-spacing: 1px;
}

.menuprice {
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 1.75rem; /* Adjusted font size */
  -webkit-text-stroke: 1px #000000; /* Adjusted stroke width */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Reduced shadow for better readability */
  margin-top: 8px;
  margin-left: 14px;
}

.menuprice2 {
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 1.25rem; /* Adjusted font size */
  -webkit-text-stroke: 1px #000000; /* Adjusted stroke width */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Reduced shadow for better readability */
  margin-top: 8px;
  margin-left: 14px;
}

.menutitle {
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 1.7rem; /* Adjusted font size */
  -webkit-text-stroke: 1px #000000; /* Adjusted stroke width */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Reduced shadow for better readability */
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.menutextwrapper {
  width: auto; /* Auto width */
  height: auto; /* Auto height */
  margin-top: 0.5rem;
  margin-right: 0.4rem;
}

.menutextwrapper2 {
  width: auto; /* Auto width */
  height: auto; /* Auto height */
  margin-top: 4px;
}

.addbutton {
  display: flex;
  width: auto; /* Auto width */
  height: auto; /* Auto height */
  padding: 1px 1rem; /* Adjusted padding */
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 29px;
  border: 2px solid #eb983a;
  background: #021f86;
  cursor: pointer;
}

.addbuttontext {
  margin-top: 6px;
  color: #eb983a;
  text-align: center;
  -webkit-text-stroke-width: 1px; /* Adjusted stroke width */
  -webkit-text-stroke-color: #000;
  font-family: Anton;
  font-size: 1.25rem; /* Adjusted font size */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Reduced shadow for better readability */
}

.addbutton:hover {
  background: #670101;
}

/* Ensure sections are displayed or hidden correctly */
section {
  display: none;
}

section.active {
  display: block;
}

/*
     
,,::::|!!!!!!!!!!!!!!!!!!!!!|::::,,
-:::::|     ORDER PAGE      |::::::-
''::::|iiiiiiiiiiiiiiiiiiiii|::::''
         \\[_[]_[]_[]_[]_|]
          
*/

/* Base styles for nav and buffer */
.orderbody {
  background-color: #fe8700;
}

.orderbody2 {
  width: 100%;
  min-height: 100vh;
  background-color: #fe8700;
}

.ordertypebox {
  padding: 20px 14px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ordercontainer {
  width: 100%;
  max-width: 378px;
  height: auto;
  flex-shrink: 0;
  border-radius: 11px;
  border: 2px solid #000;
  background: rgba(217, 217, 217, 0.92);
  margin: 1px auto;
}

.orderbuttoncontainer {
  display: flex;
  width: 100%;
  max-width: 380px;
  height: auto;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1px solid #000;
  background: rgba(217, 217, 217, 0.92);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.541);
  padding: 1px;
  margin: 10px auto;
}

.orderbox {
  margin-top: 12px;
  width: 100%;
  max-width: 337px;
  height: auto;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fffefe;
  border: 0.5px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  margin: 10px auto;
}

.ordertypebutton {
  position: relative;
  width: 100%;
  max-width: 122px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #021f86;
  margin: 2px auto;
  border: 3px solid #000;
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ordertypebutton.clicked {
  background: #a92c2c;
}

.orderbuttontext {
  width: 100%;
  max-width: 87px;
  height: 32px;
  flex-shrink: 0;
  color: #ffffff;
  font-family: "anton", Helvetica;
  font-size: 18px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px auto;
}

.ordermenulabel {
  flex: 1;
  padding: 20px;
  display: flex;
  padding-top: 14px;
  flex-direction: column;
  justify-content: space-between;
}

.ordermenulabel img {
  max-width: 100%;
  height: auto;
  max-height: 100px;
  object-fit: contain;
}

.orderfullbody {
  width: 100%;
  height: auto;
  background-color: #fe8700;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
}

.orderfullcontainer {
  margin-top: 30px;
  width: 100%;
  max-width: 1223px;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  position: relative;
}

.orderleft,
.orderright {
  width: 100%;
  max-width: 600px;
  height: auto;

  display: flex;
  flex-direction: column;
  flex: 1;
}

/*
     
,,::::|!!!!!!!!!!!!!!!!!!!!!|::::,,
-:::::|       POS Styles    |::::::-
''::::|iiiiiiiiiiiiiiiiiiiii|::::''
         \\[_[]_[]_[]_[]_|]
          
*/

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart {
  margin-top: 20px;
}

/* Media queries for responsive design */
@media (min-width: 768px) {
  .orderfullbody {
    flex-direction: row;
  }

  .orderleft,
  .orderright {
    flex-direction: column;
  }
}

.confirm-button {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #021f86;
  color: white;
  font-family: "anton", Helvetica;
  font-size: 18px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 12px;
  cursor: pointer;
  margin: 20px auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.confirm-button:hover {
  background-color: #a92c2c;
}

@media (max-width: 768px) {
  .ordertypebox,
  .ordercontainer,
  .orderbuttoncontainer,
  .orderbox,
  .orderleft,
  .orderright {
    width: 100%;
    max-width: none;
  }

  .orderbuttontext {
    font-size: 24px;
  }
}
